body{
    padding-top: 20px;
    padding-bottom: 20px;
}

.navbar{
    margin-bottom: 20px;
}
.navbar-header img{
    width: 100%;
    background-attachment: scroll;
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;    
}